.inicio {
  margin-top: 50px;
}

.inicio .inicio-container {
  background-color: rgb(44, 47, 51, 0.39);
  padding: 30px;
  border-radius: 11px;
}

.inicio h3 {
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  margin: 5px 0;
}

.inicio .delete-account {
  display: block;
  width: 100%;
  background-color: rgb(35, 39, 42, 0.87);
  border-radius: 6px;
  padding: 10px 20px 5px 20px;
}

.inicio .delete-account h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.inicio .delete-account span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  @apply text-gray-200
}

.inicio .delete-account button {
  color: #B54544;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 10px 0;
  width: 100%;
  margin-top: 30px;
  transition: .3s;
}

.inicio .delete-account button:hover {
  color: #cf4441;
  text-shadow: 0 0 15px rgb(181, 69, 68, 1), 0 0 10px rgb(181, 69, 68, 1);
}

.inicio .recover-password {
  display: block;
  width: 100%;
  background-color: rgb(35, 39, 42, 0.87);
  border-radius: 6px;
  padding: 10px 20px 5px 20px;
}

.inicio .recover-password h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.inicio .recover-password input[type="password"] {
  background-color: transparent;
  color: white;
  width: 100%;
  margin: 5px 0;
}

.inicio .recover-password input[type="password"]::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  @apply text-gray-200;
}

.inicio .recover-password button {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 10px 0;
  width: 100%;
  transition: .3s;
}

.inicio .recover-password button:hover {
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

.inicio .user-info {
  display: block;
  width: 100%;
  background-color: rgb(35, 39, 42, 0.87);
  border-radius: 6px;
  padding-bottom: 20px;
}


.inicio .user-info h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
  padding: 10px 20px 0 20px;
}

.inicio .user-info table {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  white-space: nowrap;
}

.inicio .user-info tr:first-child {
  height: 20px !important;
  border-bottom: 1px solid rgb(255, 255, 255, 0.33);
}

.inicio .user-info th {
  text-align: left;
  font-weight: normal;
  padding: 0 0 0 40px;
  @apply text-gray-200;
}

.inicio .user-info td {
  padding: 0 0 0 40px;
  height: 40px;
}