.inicio button {
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  @apply from-pink-500 to-orange-500 bg-gradient-to-t;
}

.inicio span {
  display: flex;
  justify-content: center;
  font-size: 9px;
  font-family: "Montserrat", sans-serif;
}
